<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Registrar</title>
    </head>
    <body>
        <h1>Crie sua conta</h1>

        <form method="POST">
            {{form.hidden_tag()}}

            <p>
                {{form.email.label }}<br>
                {{form.email(size=32)}}
                {% for error in form.password.errors%}
                <span style="color:red;">{{error}}</span>
                {% endfor %}
            
            </p>
             
            <p>
                {{form.password.label }}<br>
                {{form.password(size=32)}}
                {% for error in form.password.errors %}
                <span style="color:red;">{{error}}</span>
                {% endfor %}
            </p>
             <p>
                {{form.confirm.label }}<br>
                {{form.confirm(size=32)}}
                {% for error in form.confirm.errors %}
                <span style="color:red;">{{error}}</span>
                {% endfor %}
            </p>
            <p>{{form.submit() }}</p>
        </form>   
     </body>
</html>